.logoSliderContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .logoSlider {
    display: flex;
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .logoWrapper {
    flex: 0 0 20%; /* Adjust this value based on the number of logos (100% / number of logos) */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    max-width: 180px;
    height: auto;
    object-fit: contain;
  }
  
  /* Optional: Pause animation on hover */
  .logoSliderContainer:hover .logoSlider {
    animation-play-state: paused;
  }